
.desktop-networking-card{
  width: 100%;             
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap:8px;
}
.desktop-networking-card__info{
  width: 100%;  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.desktop-networking-card__name{
    width: 100%;  
    font-size: var(--text-s);
    color: var(--text-primary);
    font-weight: 700;
    text-align: left; 
}
.desktop-networking-card__info p{
    width: 100%;  
    font-size: var(--text-xs);
    color: var(--text-secondary);
    font-weight: 400; 
    text-align: left; 
}

.desktop-networking-card__info button {
  margin-bottom: 24px;
   width: auto;         
   align-self: flex-start;
}