.desktop-networking__header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.desktop-networking__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}