<nav class="navbar" aria-label="Navegador principal de la pàgina">

  <button class="navbar__item">
    <img class="navbar__icon navbar__icon--home" src="/src/assets/icons/navbar__icon--home.svg"  alt="Menú principal">
    <!-- data-icon-active="../assets/icons/navbar__icon--home--active.svg" -->
     <!-- data-icon-default="../assets/icons/navbar__icon--home.svg" -->
    <span class="navbar__label">Home</span>
  </button>

  <button class="navbar__item">
    <img class="navbar__icon navbar__icon--network" src="/src/assets/icons/navbar__icon--network.svg" alt="Comunitat">
    <span class="navbar__label">Networking</span>
  </button>

  <button class="navbar__item">
    <img class="navbar__icon navbar__icon--jobs" src="/src/assets/icons/navbar__icon--job.svg" alt="Portal de treball">
    <span class="navbar__label">Job Portal</span>
  </button>

  <!-- <button class="navbar__item">
    <img class="navbar__icon navbar__icon--Events" src="src/assets/icons/events.png" alt="Eventos">
    <span class="navbar__label">events</span>
  </button> -->

  <button class="navbar__item">
    <img class="navbar__icon navbar__icon--profile" src="/src/assets/icons/navbar__icon--profile.svg" alt="Perfill">
    <span class="navbar__label">Profile</span>
  </button>
</nav>
